$purple: #A682FF;
$slate-blue: #715AFF;
$cornflower-blue: #5887FF;
$maya-blue: #55C1FF;
$prussian-blue: #102E4A;

$rmd-theme-light: true;
$rmd-theme-primary: $slate-blue;
$rmd-theme-secondary: $cornflower-blue;
$rmd-theme-light-background: $purple;
$rmd-theme-dark-background: $slate-blue;
$rmd-theme-surface: $cornflower-blue;